.Main {
  text-align: left;
}

.Main-header {
  background-color: #dee4e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #37474f;
}

.Profile-logo {
  height: calc(10px + 2vmin);
  pointer-events: none;
}

.Web-link {
  color: #37474f;
  transition: all .2s ease-in;
  text-decoration: none;
}

.Web-link:hover {
  color: #9f83e7;
  text-decoration: none;
}